.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
dictionaries/*/output/
# Allow specific JSON files needed for the build
dictionaries/*/source/*.json
dictionaries/chinese_chars/source/dictionary_char_2024-06-17.json
dictionaries/chinese_words/source/dictionary_word_2024-06-17.json
!dictionaries/kanjidic/source/kanjidic2-en-3.6.1.json

# Ignore JMdict and JMNedict files (downloaded during build)
dictionaries/jmdict/source/
dictionaries/jmnedict/source/
*.json.zip
dictionaries/*/source/*.json.xz
output/
output_unzipped/
output_test/
output_han/
output_kanji_test/
output_non_han/
compression_test/test_data/jmdict-examples-eng-3.6.1.json
compression_test/web-test/src/test_data/jmdict.json
dictionaries/chinese_chars/source/dictionary_char_2024-06-17.jsonl
dictionaries/chinese_words/source/dictionary_word_2024-06-17.jsonl

output_han_1char/
output_han_2char/
output_han_3plus/
output_non_han/
output_han_2char_han_1char/
output_han_2char_han_2char/
output_han_2char_han_3plus/
output_han_2char_non_han/
output_han_1char_han_1char/
output_han_1char_han_2char/
output_han_1char_han_3plus/
output_han_1char_non_han/
output_test_han_1char/
output_test_han_1char_han_1char/
output_test_han_1char_han_2char/
output_test_han_1char_han_3plus/
output_test_han_1char_non_han/