.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
dictionaries/*/output/
dictionaries/*/source/*.json
dictionaries/*/source/*.json.xz
output/
output_unzipped/
output_test/
output_han/
output_kanji_test/
output_non_han/
